.sector-list
  border var(--border-card)
  border-radius 15px
  display flex
  flex-direction column
  box-shadow 0 1px 15px rgba(85, 85, 85, 0.3)
  font-weight 300
  grid-column 1 / 3
  grid-row 1 / 2

  &__head
    padding 1.5rem 1rem
    background var(--card-header-background)
    border-bottom var(--border-card)
    font-size 1.8rem
    display grid
    place-content center center

  &__body
    background var(--white-color)
    border-bottom-right-radius var(--bor-rad-card)
    border-bottom-left-radius var(--bor-rad-card)
    flex 1

    &__items
      width 100%
      padding 0

      &__item
        padding 1.5rem
        font-size 1.5rem
        cursor pointer
        line-height 1.9rem
        border-bottom 0.1rem solid rgba(0, 0, 0, 0.125)
        transition .2s

        &:hover
        &_selected
          background-color var(--selected-color)
          color var(--white-color)

  &__footer
    border-top var(--border-card)

    &__btn
      margin 1.5rem auto
      padding 1.25rem 1.5rem
      display block
      width 40%
      font-size 1.5rem
      border none
      border-radius 10px
      cursor pointer
      color var(--white-color)
      background #51585e
      transition all 0.3s linear
      font-weight 500

      &:hover
        background #767c81
