@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
:root {
  --page-background-color: #ecedf0;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --interface-upper-color: #171717;
  --interface-side-color: #1d2127;
  --primary-font: "Roboto";
  --secondary-font: "Oswald";
  --sidebar-width: 8rem;
  --sidebar-width-expanded: 35rem;
  --icon-color: #969fa8;
  --header-menu-color: #dddfdb60;
  --header-height: 6rem;
  --selected-color: #28a745;
  --selected-background: #4243446e;
  --dark-subtle-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
  --white-color: #ffff;
  --border-card: 1px solid rgba(0, 0, 0, 0.125);
  --bor-rad-card: 0.5rem;
  --card-header-background: rgba(0, 0, 0, 0.03);
  --sector-list-width: 35rem;
  --red-color: #ef4444;
}
[data-growth-type="income"] {
  --growth-color: var(--selected-color);
}
[data-growth-type="loss"] {
  --growth-color: var(--red-color);
}
html {
  font-family: var(--primary-font), sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: var(--page-background-color);
  overflow: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
ol,
h1,
h3,
h4 {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.sidebar-blur {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #17171785;
  display: none;
}

.main-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(147deg, #000 0%, #222121 74%);
}
.main-spinner {
  font-size: 15rem;
  color: var(--selected-color);
}
.main-retry-message {
  color: var(--white-color);
  font-size: 4.5rem;
  text-align: center;
}
.main-retry-btn {
  display: block;
  cursor: pointer;
  color: var(--interface-side-color);
  border: none;
  align-self: center;
  font-size: 2rem;
  padding: 2rem;
  background: var(--selected-color);
  border-radius: var(--bor-rad-card);
  font-weight: bold;
  opacity: 80%;
  margin: 2rem auto 0 auto;
}
.main-retry-btn:hover {
  opacity: 100%;
}
.sidebar {
  background: var(--interface-side-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebar-width);
  box-shadow: -5px 0 0 #2f3139 inset;
  z-index: 100;
  transition: all 0.1s linear;
  z-index: 100;
}
.sidebar-head {
  width: 100%;
  height: var(--header-height);
  cursor: pointer;
}
.sidebar-toggler {
  width: var(--sidebar-width);
  background: var(--interface-upper-color);
  height: 100%;
  display: grid;
  place-content: center center;
}
.sidebar-toggler-icon {
  font-size: 2.5rem;
  color: var(--selected-color);
  transition: color 0.2s linear;
}
.main-menu {
  width: 100%;
  min-height: 3rem;
  overflow: hidden;
}
.main-menu-content {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}
.menu-item {
  width: 100%;
  padding: 2rem;
  transition: all 0.1s linear;
  cursor: pointer;
  display: grid;
}
.menu-item:hover {
  background: var(--selected-background);
  transform: translateX(0.2rem);
}
.menu-icon {
  color: var(--icon-color);
  font-size: 2.5rem;
  justify-self: center;
}
.selected-menu-item {
  border-left: 0.5rem solid var(--selected-color);
  background: var(--selected-background);
}
.selected-menu-item .menu-icon {
  color: var(--selected-color);
}
.menu-header-text,
.menu-item-text {
  display: none;
}
.menu-header-text {
  transition: flex 0.1s linear;
}
.sidebar-expanded {
  width: var(--sidebar-width-expanded);
}
.sidebar-expanded ~ .sidebar-blur {
  display: block;
}
.sidebar-expanded .menu-header-text {
  display: block;
  flex: 2;
  align-self: center;
  font-size: 1.8rem;
  color: var(--header-menu-color);
  margin-left: 1.5rem;
  font-weight: 400;
}
.sidebar-expanded .menu-item {
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.2rem;
}
.sidebar-expanded .sidebar-head {
  display: flex;
}
.sidebar-expanded .sidebar-toggler {
  flex: 1;
  border-bottom-left-radius: 0.8rem;
}

.sidebar-expanded ~ .main-content {
  -webkit-animation: bluring 0.1s 0.2s forwards linear;
          animation: bluring 0.1s 0.2s forwards linear;
}

@-webkit-keyframes bluring {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(2px);
  }
}

@keyframes bluring {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(2px);
  }
}

.sidebar-expanded .menu-item-text {
  display: block;
  align-self: center;
  color: white;
  font-size: 1.7rem;
  font-weight: 200;
}
.main-header {
  position: fixed;
  top: 0;
  left: calc(var(--sidebar-width));
  width: calc(100% - var(--sidebar-width));
  background: var(--white-color);
  color: var(--interface-side-color);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--dark-subtle-shadow);
  z-index: 10;
}
.main-header-text {
  font-size: 1;
  margin-left: 4rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
}
.spinning-virus {
  margin-right: 3rem;
  font-size: 3.5rem;
  color: var(--selected-color);
  -webkit-animation: spin 15s infinite linear;
  animation: spin 15s infinite linear;
  transition: all 0.3s linear;
}
.spinning-virus:hover {
  -webkit-animation: spin 5s infinite linear 2s;
  animation: spin 5s infinite linear 2s;
  color: rgba(240, 23, 23, 0.836);
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-content {
  position: absolute;
  top: var(--header-height);
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  height: calc(100% - var(--header-height));
  display: grid;
  overflow: hidden;
}
.main-content[data-current-page="map"] {
  padding: 1rem;
  grid-template-columns: minmax(7rem, 2fr) 1fr;
  grid-template-rows: minmax(25rem, 75%) minmax(15rem, 25%);
}
.main-content[data-current-page="sector"] {
  grid-template-columns: repeat(6, minmax(10rem, 1fr));
  grid-template-rows: 55% 40%;
  grid-row-gap: 1.5rem;
  grid-column-gap: 0.5rem;
  padding: 1rem;
}
.main-content[data-current-page="thesis"] {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 2rem;
}
#regions-map {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  align-self: center;
}
[data-region-id] {
  transition: all 0.2s linear;
}
.tooltip {
  width: 23rem;
  height: 15rem;
  background: #1d212770;
  border-radius: 0.7rem;
  padding: 1rem;
  font-size: 1.1rem;
  color: #fff;
  position: absolute;
  z-index: 100;
  display: grid;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1rem;
}
.tooltip-flag {
  width: 3rem;
  height: 4rem;
}
.tooltip-name {
  margin-left: 1rem;
}
.tooltip-row-name {
  display: flex;
  align-items: center;
  justify-self: center;
}
.tooltip-row-indicator {
  font-weight: 300;
}
.tooltip-region-name,
.tooltip-row-indicator span {
  font-weight: bold;
  font-size: 1.2rem;
}
.regions-table {
  grid-column: 2 / -1;
  border-radius: var(--bor-rad-card);
  box-shadow: var(--dark-subtle-shadow);
  display: flex;
  flex-direction: column;
}
.tbody {
  overflow-y: auto;
  width: 100%;
  scrollbar-width: none;
  scroll-behavior: smooth;
  border-bottom-left-radius: var(--bor-rad-card);
  border-bottom-right-radius: var(--bor-rad-card);
  display: flex;
  flex-direction: column;
}
.tbody::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
}
.tr {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-column-gap: 0.5rem;
  align-items: center;
  background-color: var(--white-color);
  font-weight: 300;
  transition: all 0.2s linear;
  text-align: center;
  cursor: pointer;
}
.tr:not(.thead) {
  color: #808080;
  font-weight: 400;
  height: 7rem;
}
.tr:nth-child(2n) {
  background-color: #f8f6ff;
}
.tr .td:first-child {
  text-align: left;
  font-weight: bold;
}
.thead {
  padding: 1rem;
  font-weight: bold;
  color: var(--white-color);
  background: #5c6877;
  border-top-left-radius: var(--bor-rad-card);
  border-top-right-radius: var(--bor-rad-card);
}
.regions-map-filter {
  padding: 0.3rem;
  font-size: 1.2rem;
}
.regions-map-filter:hover {
  filter: brightness(70%);
}
.trow-selected {
  background-color: rgba(59, 43, 233, 0.952) !important;
  background: #989b9e !important;
  color: var(--white-color) !important;
  font-size: 1.5rem !important;
  height: 8rem !important;
}
.regions-card {
  margin-top: 2rem;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border-radius: 0.6rem;
  background: var(--white-color);
  align-self: start;
}
.regions-card-header {
  display: flex;
  justify-content: center;
}
.regions-card-icon-holder {
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%);
  align-self: flex-start;
  background: var(--red-color);
  transform: translateY(-1rem);
}
.regions-card-icon {
  font-size: 4rem;
  color: var(--white-color);
}
.card-share-regional {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 4rem;
}
.card-share-title {
  font-size: 1.4rem;
  color: #999;
}
.card-share-wrapper {
  text-align: center;
  padding: 0.5rem;
  font-size: 4.5rem;
  font-weight: 500;
  color: #3c4858;
  margin-right: 0.5rem;
}
.regions-card-percent {
  font-size: 3rem;
}
.regions-card-footer {
  border-top: 1px solid #e2e0e0;
  margin: 0 3rem;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  color: #8a8585;
}
.regions-card-note {
  color: var(--red-color);
}
.sector-items::-webkit-scrollbar {
  display: none;
}
.sector-items::-webkit-scrollbar {
  display: none;
}
.sector-bottom-row,
.sector-upper-row {
  display: flex;
}
.sector-upper-row {
  padding: 2rem 1rem;
}
.sector-bottom-row {
  padding: 0 1rem 1rem 1rem;
}
.sector-list {
  border: var(--border-card);
  border-radius: var(--bor-rad-card);
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 5px rgb(85 85 85 / 15%);
  font-weight: 300;
  flex: 1 0;
  margin-right: 2rem;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.sector-chart-wrapper {
  width: 60vw;
  position: relative;
  background: var(--white-color);
  box-shadow: var(--dark-subtle-shadow);
  border-radius: var(--bor-rad-card);
  padding: 1rem;
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  justify-self: end;
}
.card-header {
  padding: 0.5rem 1rem;
  background: var(--card-header-background);
  border-bottom: var(--border-card);
  flex-grow: 1;
  font-size: 1.7rem;
  display: grid;
  place-content: center center;
  overflow-y: auto;
}
.card-body {
  background: var(--white-color);
  flex-grow: 3;
  max-height: 90%;
  border-bottom-right-radius: var(--bor-rad-card);
  border-bottom-left-radius: var(--bor-rad-card);
}
.sector-items {
  width: 100%;
  padding: 0;
  max-height: 85%;
  overflow-y: scroll;
}
.sector-item {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 1.9rem;
}
.sector-item:not(:last-child) {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.125);
}
.sector-item:hover,
.selected-item {
  background-color: var(--selected-color);
  color: var(--white-color);
}
.card-footer {
  width: 100%;
  border-top: var(--border-card);
}
.sector-btn {
  margin: 1rem auto;
  padding: 0.7rem 1.5rem;
  display: block;
  width: 40%;
  font-size: 1.3rem;
  border: none;
  border-radius: var(--bor-rad-card);
  cursor: pointer;
  color: var(--white-color);
  background: #51585e;
  transition: all 0.3s linear;
}
.sector-btn:hover {
  background: #767c81;
}
.sector-card-report {
  background: var(--white-color);
  box-shadow: var(--dark-subtle-shadow);
  border-radius: var(--bor-rad-card);
  border-left: 0.8rem solid var(--growth-color);
  padding: 1rem;
  grid-column: 5 / -1;
  grid-row: 2 / -1;
}
.sector-report-head {
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.sector-report-header {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.sector-report-period {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--growth-color);
}
.sector-report-details {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
}
.sector-report-detail {
  display: flex;
}
.sector-report-detail:first-child {
  margin-right: 1rem;
}
.sector-report-figure {
  padding: 1rem;
  display: grid;
  place-content: center center;
  background: var(--growth-color);
  border-radius: var(--bor-rad-card);
  margin-right: 0.8rem;
}
.sector-report-figure i {
  font-size: 4rem;
  color: var(--white-color);
}
.sector-report-detail-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: #424040;
  opacity: 150%;
}
.sector-report-detail-value {
  display: block;
  font-weight: 600;
  padding: 0.5rem;
  font-size: 2rem;
  color: #302f2f;
}
.sector-report-detail-value i {
  margin-left: 0.2rem;
}
.sector-table {
  display: grid;
  font-size: 1.4rem;
  background: var(--white-color);
  border-radius: var(--bor-rad-card);
  box-shadow: var(--dark-subtle-shadow);
  grid-column: 1 / 5;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.sector-table-tr {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(5, minmax(min-content, 1fr));
  grid-gap: 0.5rem;
  border-bottom: var(--border-card);
  flex: 1 1 auto;
}
.sector-table-td,
.sector-table-th {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.4rem;
}
.sector-table-td:not(:last-child),
.sector-table-th:not(:last-child) {
  border-right: var(--border-card);
}
.sector-table-td:nth-child(5n),
.sector-table-th:nth-child(5n) {
  display: none;
}
.sector-table-thead {
  background: #ecedf0c2;
  border-top-left-radius: var(--bor-rad-card);
  border-top-right-radius: var(--bor-rad-card);
}
.sector-table-th,
.sector-table-tr:last-child,
.sector-row-name {
  font-weight: 450;
}
.pdf-wrapper {
  width: 65%;
  height: 90%;
  position: relative;
  color: #ff9a9a;
}
#pdf-reader {
  box-shadow: var(--dark-subtle-shadow);
  border-radius: var(--bor-rad-card);
  width: 100%;
  height: 100%;
}
.text-load-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.74);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  font-size: 12rem;
  color: #353131;
}
.switcher-wrapper {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.document-switcher {
  border-radius: 0.8rem;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inherit;
  flex-direction: inherit;
  background: var(--white-color);
}
.iframe-btn {
  border: none;
  background: var(--selected-color);
  color: var(--white-color);
  margin-top: 1rem;
  padding: 2rem;
  font-size: 1.6rem;
  border-radius: var(--bor-rad-card);
  transition: opacity 0.2s ease;
  cursor: pointer;
}
.iframe-btn:hover {
  opacity: 80%;
}
.document-switcher-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.document-switcher-item:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.document-switcher-item {
  color: #545057;
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 2rem 1.5rem;
  border: 0.2rem solid rgba(0 0 0 / 15%);
  cursor: pointer;
  transition: all 0.2s ease-out 0.1s;
}
.document-switcher-item:hover,
.document-item-selected {
  background: #5450579f;
  color: var(--white-color);
}
.document-switcher-item + .document-switcher-item {
  border-top: 0;
}
@media screen and (max-height: 600px) {
  html {
    font-size: 55%;
  }
  .main-header {
    display: none;
  }
  .main-content {
    height: 100%;
    top: 0;
  }
  .thead {
    padding: 0.5rem;
  }
  .regions-card-icon-holder {
    margin-top: 0.3rem;
  }
  .sector-table-td {
    padding: 0.3rem;
  }
  .sector-report-details {
    margin-top: 1rem;
  }
  .sector-report-head {
    margin-top: 0.2rem;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 58%;
  }
  .regions-card-icon {
    font-size: 3rem;
  }
  .card-share-regional {
    margin-left: 1rem;
  }
  .card-share-title {
    font-size: 1.4rem;
    color: #999;
  }
  .card-share-wrapper {
    font-size: 3.5rem;
  }
  .regions-card-percent {
    font-size: 2rem;
  }
  .regions-card-footer {
    margin: 0 2rem;
    padding: 0.5rem;
  }
  .sector-report-details {
    justify-content: space-between;
    flex-direction: column;
    margin-top: 0.5rem;
  }
  .sector-report-detail {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 55%;
    overflow: auto !important;
  }
  body {
    overflow: auto !important;
    height: auto;
  }
  .main-header {
    display: none;
  }
  .sidebar {
    position: fixed;
    width: 100%;
    height: var(--sidebar-width);
  }
  .sidebar-head {
    height: 100%;
  }
  .sidebar-toggler {
    background: transparent;
    width: 100%;
    height: 100%;
  }
  .sidebar-toggler-icon {
    font-size: 3.5rem;
  }
  .main-menu {
    width: 100%;
    display: none;
  }
  .main-menu-content {
    list-style: none;
    padding-left: 0;
  }
  .menu-item {
    width: 100%;
    padding: 1rem;
  }
  .menu-header-text,
  .menu-item-text {
    display: none;
  }
  .sidebar-expanded {
    height: var(--sidebar-width-expanded);
  }
  .sidebar-expanded .main-menu {
    display: block;
  }
  .sidebar-expanded ~ .sidebar-blur {
    display: block;
  }
  .sidebar-expanded .menu-header-text {
    display: none;
  }
  .sidebar-expanded .sidebar-head {
    display: block;
    height: var(--sidebar-width);
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 70vh;
    overflow: auto !important;
    width: 100%;
    left: 0;
    top: var(--sidebar-width);
  }
  .tbody {
    max-height: 20rem;
  }
  .regions-card {
    align-self: stretch;
  }
  .sector-list {
    width: 100%;
  }
  .sector-items {
    height: 20rem;
  }
  .sector-chart-wrapper {
    width: 100%;
    min-height: 40%;
    height: 60%;
  }
  .sector-table {
    display: none;
  }
  .main-content[data-current-page="thesis"] {
    display: block;
  }
  .pdf-wrapper {
    display: none;
  }
  .switcher-wrapper {
    margin: 0;
    padding: 1rem;
    width: 100%;
  }
}
@media screen and (min-width: 1450px) {
  html {
    font-size: 70%;
  }
}

