.sector-section
  display grid
  grid-template-columns: repeat(6, minmax(10rem, 1fr));
  grid-template-rows 35rem 30rem
  grid-row-gap: 1.5rem;
  grid-column-gap: 3rem

  @media $max-md
    grid-template-columns 1fr
    grid-template-rows 25rem repeat(3, auto)
    grid-row-gap 3rem

  &__chart
  &__table
    @media $min-md
      grid-column 1 / 5

  &__list
    @media $min-md
      grid-column 5 / -1

  &__table
    @media $min-md
      grid-row 2 / -1

  &__card
    @media $min-md
      grid-column 5 / -1
      align-self start



