.sector-table
  display grid
  font-size 1.4rem
  background var(--white-color)
  border-radius var(--bor-rad-card)
  box-shadow var(--dark-subtle-shadow)
  display flex
  flex-direction column

  &__tr
    --col-count 5

    display grid
    width 100%
    grid-template-columns repeat(var(--col-count), minmax(5rem, 1fr))
    grid-gap 0.5rem
    border-bottom var(--border-card)
    flex 1 1 auto

    @media $max-lg
      --col-count 4

    @media $max-sm
      --col-count 3

  &__td
  &__th
    text-align left
    display flex
    align-items center
    padding 1rem
    font-size 1.4rem

    &:last-child
      @media $max-lg
        display none

    &:nth-last-child(2)
      @media $max-sm
        display none

    @media $max-sm
      padding .75rem

  &__td:not(:last-child)
  &__th:not(:last-child)
    border-right var(--border-card)

  &__thead
    background #ecedf0c2
    border-top-left-radius var(--bor-rad-card)
    border-top-right-radius var(--bor-rad-card)

  &__th,
  &__tr:last-child
  &__td_name
    font-weight 500
