
:root {
  --overlay-color: rgba(0, 0, 0, 0.3);
  --header-color: white;
  --color-btn: #28a745;
  --header-size: 4rem;
  --primary-font: "Russo One";
  --secondary-font: "Open Sans";
  --color: #bb0e42;
}

html {
  font-family: var(--primary-font), sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

#container,
.overlay-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#container {
  z-index: 1;
}
#container .bg-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay-main {
  background: var(--overlay-color);
  z-index: 12;
}

.hero-section {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-header {
  color: var(--header-color);
  text-transform: uppercase;
  font-size: var(--header-size);
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-align: center;
  line-height: calc(var(--header-size) + 1.5rem);
}

.btn-group {
  display: flex;
}
.btn-action {
  padding: 1rem 2rem;
  background: var(--color-btn);
  color: var(--header-color);
  font-size: 2rem;
  width: 20rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-weight: 500;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(212, 210, 210, 0.2);
  text-decoration: none;
  transition: opacity 0.2s linear;
  opacity: 80%;
  font-family: var(--secondary-font);
  margin-bottom: 1rem;
}

.btn-action:active {
  border: none;
  outline: none;
}

.btn-action:hover {
  opacity: 100%;
}

.link-presentation {
  background: #607d8b;
}

@media screen and (max-width: 600px) {
  :root {
    --header-size: 2.5rem;
  }
  html {
    font-size: 55%;
  }

  .hero-header {
    letter-spacing: 0;
  }
}
